---
import Sidebar from '../components/Sidebar.astro';
import Layout from '../layouts/Layout.astro';
import Drawer from '../components/Drawer.astro';
import { Icon } from 'astro-icon';
---

<Layout title="Book-It">
	<div class="flex flex-row">
		<Sidebar />
		<div class="w-full mt-5">
			<header
				class="flex flex-wrap flex-row justify-between p-5 sticky z-[1] top-2 lg:justify-around lg:p-0"
			>
			<div class="flex flex-col items-center hidden lg:flex">
				<Icon name="mdi:account-outline" size="3x" />
				<div class="flex flex-row">
					<button class="btn btn-neutral btn-xs">Sign-Up</button>
				    <button class="btn btn-accent btn-xs">Log-In</button>
				</div>
			</div>
			<div class="xl:hidden"> 
				<Drawer />
			</div>
				<div class="flex flex-row">
					<div class="flex">
						<Icon name="prime:search" size="3x" />
						<input
							type="text"
							placeholder="Search book name, author, or ISBN"
							class="input input-bordered w-96 hidden sm:block" 
						/>
					</div>
				</div>
				<a class="flex hover:bg-slate-200 hover:rounded-full lg:tooltip lg:tooltip-right" data-tip="Languages">
					<Icon name="fxemoji:spanishflag" size="3x" />
				</a>
			</header>
			<div class="hero min-h-screen">
				<div class="hero-content flex-col lg:flex-row-reverse">
					<img
						src="../assets/book-cover.png"
						class=" w-72 sm:w-5/12 sm:h-full sm:object-cover sm:object-center sm:rounded-lg sm:ml-5 sm:mr-5 sm:mt-5 sm:mb-5"
					/>
					<div>
						<h1 class="text-5xl font-bold text-center">
							Happy Readings Visitors!
						</h1>
						<p class="py-6 text-xl text-center">
							Unleash the power of words with Book-It: Your portal
							to the literary universe! Our vast library offers a
							haven for book lovers, where imagination knows no
							bounds.
						</p>
						<p class="py-6 text-xl text-center">
							With Book-It, renting books is not just a
							transaction; it's a gateway to enlightenment,
							inspiration, and transformation. Fly high with the
							power of literature at your fingertips. Discover,
							learn, and indulge in the magic of storytelling.
							Welcome to Book-It, a modern way to rent books!"
						</p>

						<button class="btn btn-neutral"
							>Start reading <Icon
								name="eva:diagonal-arrow-right-up-fill"
								size="2x"
							/></button
						>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style></style>
</Layout>
