---
import { Icon } from 'astro-icon';
---
<div>
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content lg:hidden display">
      <!-- Page content here -->
      <label for="my-drawer" class="btn btn-circle swap drawer-button swap-rotate">
        <!-- hamburger icon -->
        <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
      </label>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content gap-5 text-xl">
        <!-- Sidebar content here -->
        <div class="flex flex-col items-center">
          <Icon name="ion:book-sharp" size="4x" />
          <Icon name="mdi:account-outline" size="3x" />
          <div class="flex flex-row">
            <button class="btn btn-neutral btn-xs">Sign-Up</button>
              <button class="btn btn-accent btn-xs">Log-In</button>
          </div>
        </div>
        <li><a>Home</a></li>
        <li><a>Books</a></li>
        <li><a>Saved</a></li>
        <li><a>Settings</a></li>
        <li><a>Help </a></li>
      </ul>
    </div>
  </div>
